<header class="app-header">
    <nav class="navbar">
      <ul class="nav-list">
        <li class="nav-item">
          <a routerLink="/home" routerLinkActive="active" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a routerLink="/user-create" routerLinkActive="active" class="nav-link">Create User</a>
        </li>
        <li class="nav-item">
          <a routerLink="/user-update" routerLinkActive="active" class="nav-link">Update User</a>
        </li>
        <li class="nav-item">
          <a routerLink="/user-list" routerLinkActive="active" class="nav-link">User List</a>
        </li>
      </ul>
    </nav>
    <div class="profile-info">
      <!-- <img src="path/to/profile-image.jpg" alt="Profile" class="profile-image" /> -->
      <div class="profile-details">
        <h4>{{ profileName }}</h4>
        <p>{{ profileEmail }}</p>
      </div>
    </div>
  </header>